# This is Git's per-user configuration file.
[transfer]
	fsckObjects = true
[alias]
	co = checkout
	chekcout = checkout
	cehckout = checkout
	gerp = grep
	grpe = grep
[log]
	follow = true
[pull]
	rebase = false
